@import "tailwindcss";

:root {
  --color-black: #020202;
  --color-brown: #503B31;
  --color-gray: #705D56;
  --color-primary: #9097C0;
  --color-secondary: #A7BBEC;

  --background: #f7f7f7;
  --card: #ffffff;
  --text: #020202;
  --text-light: #705D56;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
